<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>商品一覧</h1>
    <form action="/menu" method="get">
        <table border="1">
        <tr>
            {% for field_label in fields.values() %}
                <th>{{ field_label }}</th>
            {% endfor %}
        </tr>
            {% for row in all_data %}
        <tr>
            {% for value in row %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
            {% endfor %}        
        </table>
        <input type="submit" value="メニューへ">
    </form>
</body>
</html>