<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ログインフォーム</h1>
    <form action="/login" method="POST">
        <table border="1">
            <tr>
                <td>ユーザーID</td>
                <td><input type="text" name="username" value="{{data['username']}}"></td>
                <td>{{errors['username']}}</td>
            </tr>
            <tr>
                <td>パスワード</td>
                <td><input type="text" name="password" value="{{data['password']}}"></td>
                <td>{{errors['password']}}{{errors['login_error']}}</td>
            </tr>
        </table>
        <input type="submit" value="送信">
    </form>
</body>
</html>