<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TOPメニュー</h1>
        <table border="1">
            <tr>
                <td>商品登録</td>
                <td><form action="/input" method="post"><input type="submit" value="登録画面"></form></td>
            </tr>
            <tr>
                <td>商品一覧</td>
                <td><form action="/alldisp" method="post"><input type="submit" value="一覧画面"></form></td>
            </tr>
        </table>
    <form action="/" method="get">
        <input type="submit" value="ログイン画面">
    </form>
</body>
</html>