<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>cookie情報</h1>
    <form action="/">
        <table border="1">
            <tr>
              <td>名前</td>
              <td>{{result['name']}}</td>
          </tr>
          <tr>
              <td>住所</td>
              <td>{{result['address']}}</td>
          </tr>
          </table>      
          <input type="submit" value="TOPへ">
    </form>
</body>
</html>