<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/setcookie" method="post">
        <table border="1">
            <tr>
                <td>名前</td>
                <td><input type="text" name="name" value="{{data['name']}}"></td>
                <td>{{errors['name']}}</td>
            </tr>
            <tr>
                <td>住所</td>
                <td><input type="text" name="address" value="{{data['address']}}"></td>
                <td>{{errors['address']}}</td>
            </tr>
        </table>
        <input type="submit" value="登録">
    </form>
</body>
</html>